# Challenges week 6

Now that you have some experience with working with APIs and playing around with this data, it's time for you to combine and apply your knowledge. You will start working on these challenges in the tutorial and will be asked to complete them by the end of the week. 

In each challenge, you are asked to provide the programming solution to it as well as a technical interpretation explaining the steps taken and the result.

# Challenge 1

The list below contains fictional article headlines. You are asked to pre-process the headlines and provide some basic information about them.

1. Pre-process the headlines (make sure to remove unnecessary characters and make the headline lower space)

2. What is the average length of a headline?

3. How many of the headlines are about cats or dogs?

In [1]:
headlines = [
    "  Local man wins national pie-eating contest",
    "New study shows that cats are good for you  ",
    "Breaking news: \n Cat stuck in tree",
    "Weather forecast: \n Raining cats and dogs",
    "Expert says that chocolate is the key to happiness ",
    "Exclusive interview with the world's oldest person",
    " Local school wins state basketball championship",
    "Police arrest suspect in bank robbery ",
    "  Dog bites man in park"
]

My analysis plan:
I will first loop over the list and create a new list with pre-processed headlines. In the loop, I will use `strip()` and `lower()`. Next, I will calculate the average by again looping over the list. Finally, I will use `in` to determine how many headlines contain the words cat, cats, dog or dogs.

In [5]:
#Here I wrote the loop that 1) removes spaces, 2) lowercases everything and 3) replaces \n
headlines_pre = []

for headline in headlines:
    headlines_pre.append(headline.strip().lower().replace('\n',''))

In [6]:
#check if the new list looks ok
print(headlines_pre)

['local man wins national pie-eating contest', 'new study shows that cats are good for you', 'breaking news:  cat stuck in tree', 'weather forecast:  raining cats and dogs', 'expert says that chocolate is the key to happiness', "exclusive interview with the world's oldest person", 'local school wins state basketball championship', 'police arrest suspect in bank robbery', 'dog bites man in park']

In [11]:
lenall = 0
for headline in headlines_pre:
    lenall += len(headline)

print(f"An average headline is {lenall/len(headlines_pre):.2f} characters long")

An average headline is 40.22 characters long

In [29]:
#I will start with creating a function that checks if cat or dog is in the headline.

def dogcatcheck(text):
    '''takes a string as input and checks if dog or cat is in the string '''
    if ("dog" in text) or ("cat" in text):
        return 1 #return 1 if one of the two conditions is met
    else:
        return 0 #return 0 in all other cases

In [30]:
numdogcat = 0
for headline in headlines_pre:
    numdogcat+=dogcatcheck(headline)

print(f"There are {numdogcat} headlines about cats or dogs.")

There are 4 headlines about cats or dogs.

# Challange 2

Here is a list of easy to use APIs related to entertainment https://github.com/public-apis/public-apis#entertainment with little or no authentication. We will now use the RandomUselessFacts API, for which the documentation is very simple and can be found here https://uselessfacts.jsph.pl/. 
1. Interact with the API to get access to a random fact or the fact of the day. 
2. Write a function that builds upon your initial script and allows for increased functionality/interaction with the API. The most apparent option here is to write a function that allows you to collect many facts using the /random endpoint. For the function, provide the necessary code and a short explanation of the working of the function.

In [31]:
import requests 

a_fact = requests.get('https://uselessfacts.jsph.pl/today.json')
a_fact
#I get the appropriate response code

In [32]:
#Here's the content
a_fact.content

b'{"id":"9b780d6d5f6021b2aa1c8f2f62f6e2c9","text":"400-quarter pounders can be made from 1 cow.","source":"djtech.net","source_url":"http://www.djtech.net/humor/useless_facts.htm","language":"en","permalink":"https://uselessfacts.jsph.pl/api/v2/facts/9b780d6d5f6021b2aa1c8f2f62f6e2c9"}\n'

In [33]:
#A function that retrieves thrity random facts
fact_list = []
def get_a_fact():
    for i in range(1,30):
        a_fact =requests.get('https://uselessfacts.jsph.pl/random.json?language=en')
        fact_list.append(a_fact.content)
        return fact_list
my_facts = get_a_fact()
my_facts

[b'{"id":"7f69cfb718747173f86b1630b5369724","text":"There is a town in Newfoundland, Canada called Dildo.","source":"djtech.net","source_url":"http://www.djtech.net/humor/useless_facts.htm","language":"en","permalink":"https://uselessfacts.jsph.pl/api/v2/facts/7f69cfb718747173f86b1630b5369724"}\n']

# Challenge 3 

The dataset `example_tweets.json` is the json  response returned from the Twitter API. This is a data collected using the keyword search surveillance - tweets that include this keyword are included in the dataset. On [this website](https://developer.twitter.com/en/docs/twitter-api/v1/data-dictionary/object-model/tweet) you can find the documentation of the API and the columns it returns. In this challenge, you will explore this data and identify possible privacy and ethical issues with it.


1. Use pandas to load this data into a dataframe. 

2. Explore this dataset using the skills you have learned in the class. Make sure to check how the dataset looks like, what columns it has, what data type these columns have and if there are any missing values. Write a short description of the dataset and answer the following questions:
* How many languages are the tweets in?
* How many retweets did the tweets receive on average?
* Is the retweets number higher or lower for tweets that contain sensitive links vs. the one's with non-sensitive and no links? *Tip: check in the documentation what missing values in column `possibly_sensitive` mean and consider what you need to do with them.*

3. Imagine that you want to research if there is a relation between the topics in the text of the tweets about surveillance and number of retweets the tweets receive. You want to include number of followers of the author of each tweet as a control variable. Hence, you need the columns with information on the text of the tweet (`text`), its number of retweets (`retweet_count`) and the number of followers of the author (included in `user`). 
* Minimize the dataset accordingly. Explain your minimization steps.
* What other steps would you need to take to make sure that the data follows privacy protection principles discussed in the lecture? Give concrete examples based on the information available in your minimized dataset. *Tip: consider what identifiable and identified information the text and user columns contain.*

### Q1

I will first load the data from the json file directly into a dataframe

In [34]:
#load the data
import pandas as pd
data = pd.read_json("example_tweets.json")

### Q2

Next, I explore the data using the code we have learned in class.

In [35]:
data.dtypes

created_at                   datetime64[ns]
id                                    int64
id_str                                int64
full_text                            object
truncated                              bool
display_text_range                   object
entities                             object
metadata                             object
source                               object
in_reply_to_status_id               float64
in_reply_to_status_id_str           float64
in_reply_to_user_id                 float64
in_reply_to_user_id_str             float64
in_reply_to_screen_name              object
user                                 object
geo                                 float64
coordinates                         float64
place                                object
contributors                        float64
retweeted_status                     object
is_quote_status                        bool
quoted_status_id                    float64
quoted_status_id_str                float64
retweet_count                         int64
favorite_count                        int64
favorited                              bool
retweeted                              bool
lang                                 object
quoted_status                        object
possibly_sensitive                  float64
extended_entities                    object
withheld_in_countries                object
dtype: object

In [36]:
data.columns

Index(['created_at', 'id', 'id_str', 'full_text', 'truncated',
       'display_text_range', 'entities', 'metadata', 'source',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str',
       'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place',
       'contributors', 'retweeted_status', 'is_quote_status',
       'quoted_status_id', 'quoted_status_id_str', 'retweet_count',
       'favorite_count', 'favorited', 'retweeted', 'lang', 'quoted_status',
       'possibly_sensitive', 'extended_entities', 'withheld_in_countries'],
      dtype='object')

In [37]:
data.isna().sum()

created_at                      0
id                              0
id_str                          0
full_text                       0
truncated                       0
display_text_range              0
entities                        0
metadata                        0
source                          0
in_reply_to_status_id         885
in_reply_to_status_id_str     885
in_reply_to_user_id           882
in_reply_to_user_id_str       882
in_reply_to_screen_name       882
user                            0
geo                          1000
coordinates                  1000
place                         994
contributors                 1000
retweeted_status              289
is_quote_status                 0
quoted_status_id              920
quoted_status_id_str          920
retweet_count                   0
favorite_count                  0
favorited                       0
retweeted                       0
lang                            0
quoted_status                 983
possibly_sensitive            777
extended_entities             911
withheld_in_countries         999
dtype: int64

After examining the dataset, I can conclude that it has 1000 rows with 32 columns, including created_at, id, etc. Some columns have many missing values (800+). However, the columns we are interested in can be worked with and are of the expected variable type.

In [38]:
#how many languages question 
data['lang'].value_counts()
#English is the dominant language of the tweets, with tweets available in 13 languages.

en     832
fr     109
ca      25
nl      11
und      7
es       3
it       3
tl       2
in       2
de       2
ja       2
hi       1
th       1
Name: lang, dtype: int64

In [48]:
#average number of retweets 
print(f"On average, a tweet gets {data['retweet_count'].mean()} retweets")
#the mean rt count is 417,352

On average, a tweet gets 417.352 retweets

I have checked the documentation and I can assume that a missing value in the column `possibly_sensitive` means that the tweet is not possibly sensitive (the authors did not fill this field in). I can hence fill in the missing values with 0. Note that this is an assumption!

In [44]:
#Here I replace all missing values in the column possibly_sensitive with 0
data['possibly_sensitive'].fillna(0, inplace=True)

In [46]:
#To get separate means for possibly sensitive and not sensitive tweets I use groupby. 
data.groupby(['possibly_sensitive'])['retweet_count'].mean()

possibly_sensitive
0.0    420.091919
1.0    146.100000
Name: retweet_count, dtype: float64

### Q3

For this question, I need to minimize the dataset. I only need three columns meaning I should remove all other columns not to process data that I do not need for my RQ. I do so by slicing the dataframe.

In [47]:
smaller_data = data[['full_text', 'retweet_count', 'user']]
smaller_data.head()

,full_text,retweet_count,user
0,RT @AP: BREAKING: Iran says it will allow UN t...,100,"{'id': 3264870655, 'id_str': '3264870655', 'na..."
1,RT @emeriticus: Bush launched murderous wars f...,298,"{'id': 1357150919192944640, 'id_str': '1357150..."
2,RT @scroll_in: #PegasusRow \n\nCentre refuses ...,1,"{'id': 1124167148, 'id_str': '1124167148', 'na..."
3,@mararara44 @JudahWorldChamp @kprather88 @CDCg...,0,"{'id': 15497992, 'id_str': '15497992', 'name':..."
4,@CoinMarketCap financial surveillance,0,"{'id': 177506855, 'id_str': '177506855', 'name..."

If we were to share this data, we would have to be careful with the `user` and `full_text` columns since both can contain identifying information both for the poster and for other Twitter users which may or may not be in our dataset.