In [1]:
import pandas as pd

In [2]:
apple_tweets = pd.read_csv("apple_tweets.csv", sep=",", encoding = 'unicode_escape')

In [3]:
#Show first 5 rows
apple_tweets.head()

,Unnamed: 0,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,sentiment,sentiment:confidence,date,id,query,sentiment_gold,text
0,0,623495513,True,golden,10,NaN,3,0.6264,Mon Dec 01 19:30:03 +0000 2014,5.400000e+17,#AAPL OR @Apple,3\r\nnot_relevant,#AAPL:The 10 best Steve Jobs emails ever...htt...
1,1,623495514,True,golden,12,NaN,3,0.8129,Mon Dec 01 19:43:51 +0000 2014,5.400000e+17,#AAPL OR @Apple,3\r\n1,RT @JPDesloges: Why AAPL Stock Had a Mini-Flas...
2,2,623495515,True,golden,10,NaN,3,1.0000,Mon Dec 01 19:50:28 +0000 2014,5.400000e+17,#AAPL OR @Apple,3,My cat only chews @apple cords. Such an #Apple...
3,3,623495516,True,golden,17,NaN,3,0.5848,Mon Dec 01 20:26:34 +0000 2014,5.400000e+17,#AAPL OR @Apple,3\r\n1,I agree with @jimcramer that the #IndividualIn...
4,4,623495517,False,finalized,3,12/12/14 12:14,3,0.6474,Mon Dec 01 20:29:33 +0000 2014,5.400000e+17,#AAPL OR @Apple,NaN,Nobody expects the Spanish Inquisition #AAPL

In [4]:
#Show columns
apple_tweets.columns

Index(['Unnamed: 0', '_unit_id', '_golden', '_unit_state',
       '_trusted_judgments', '_last_judgment_at', 'sentiment',
       'sentiment:confidence', 'date', 'id', 'query', 'sentiment_gold',
       'text'],
      dtype='object')

In [5]:
#Show dtypes
apple_tweets.dtypes

Unnamed: 0                int64
_unit_id                  int64
_golden                    bool
_unit_state              object
_trusted_judgments        int64
_last_judgment_at        object
sentiment                object
sentiment:confidence    float64
date                     object
id                      float64
query                    object
sentiment_gold           object
text                     object
dtype: object

In [6]:
#Show missing
apple_tweets.isna().sum()

Unnamed: 0                 0
_unit_id                   0
_golden                    0
_unit_state                0
_trusted_judgments         0
_last_judgment_at        103
sentiment                  0
sentiment:confidence       0
date                       0
id                         0
query                      0
sentiment_gold          3783
text                       0
dtype: int64

In [7]:
# 1. calculating mean for trusted to have a cut-off point

apple_tweets['_trusted_judgments'].describe()

count    3886.000000
mean        3.687082
std         2.004595
min         3.000000
25%         3.000000
50%         3.000000
75%         3.000000
max        27.000000
Name: _trusted_judgments, dtype: float64

In [8]:
#function to classify as trusted if score above mean

#cut-off = 3.69

def trusted(score):
    if score >= 3.70:
        return True
    else:
        return False

In [10]:
apple_tweets['trusted'] = apple_tweets['_trusted_judgments'].apply(trusted)

In [11]:
apple_tweets.head()

,Unnamed: 0,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,sentiment,sentiment:confidence,date,id,query,sentiment_gold,text,trusted
0,0,623495513,True,golden,10,NaN,3,0.6264,Mon Dec 01 19:30:03 +0000 2014,5.400000e+17,#AAPL OR @Apple,3\r\nnot_relevant,#AAPL:The 10 best Steve Jobs emails ever...htt...,True
1,1,623495514,True,golden,12,NaN,3,0.8129,Mon Dec 01 19:43:51 +0000 2014,5.400000e+17,#AAPL OR @Apple,3\r\n1,RT @JPDesloges: Why AAPL Stock Had a Mini-Flas...,True
2,2,623495515,True,golden,10,NaN,3,1.0000,Mon Dec 01 19:50:28 +0000 2014,5.400000e+17,#AAPL OR @Apple,3,My cat only chews @apple cords. Such an #Apple...,True
3,3,623495516,True,golden,17,NaN,3,0.5848,Mon Dec 01 20:26:34 +0000 2014,5.400000e+17,#AAPL OR @Apple,3\r\n1,I agree with @jimcramer that the #IndividualIn...,True
4,4,623495517,False,finalized,3,12/12/14 12:14,3,0.6474,Mon Dec 01 20:29:33 +0000 2014,5.400000e+17,#AAPL OR @Apple,NaN,Nobody expects the Spanish Inquisition #AAPL,False

In [14]:
apple_tweets['trusted'].value_counts(normalize=True)

False    0.788214
True     0.211786
Name: trusted, dtype: float64

In [17]:
apple_tweets.describe()

,Unnamed: 0,_unit_id,_trusted_judgments,sentiment:confidence,id
count,3886.000000,3.886000e+03,3886.000000,3886.000000,3.886000e+03
mean,1942.500000,6.234975e+08,3.687082,0.829526,5.410039e+17
std,1121.935901,1.171906e+03,2.004595,0.175864,7.942752e+14
min,0.000000,6.234955e+08,3.000000,0.332700,5.400000e+17
25%,971.250000,6.234965e+08,3.000000,0.674475,5.400000e+17
50%,1942.500000,6.234975e+08,3.000000,0.811250,5.410000e+17
75%,2913.750000,6.234984e+08,3.000000,1.000000,5.420000e+17
max,3885.000000,6.235173e+08,27.000000,1.000000,5.420000e+17

In [19]:
from statistics import mean


apple_tweets.groupby('trusted').agg(mean)

/var/folders/jk/nv4fcn7x6k37tk2nhtsd3nnm0000gn/T/ipykernel_32891/2001632264.py:4: FutureWarning: ['_unit_state', '_last_judgment_at', 'sentiment', 'date', 'query', 'sentiment_gold', 'text'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  apple_tweets.groupby('trusted').agg(mean)

,Unnamed: 0,_unit_id,_golden,_trusted_judgments,sentiment:confidence,id
trusted,,,,,,
False,1948.336925,6.234975e+08,0.000000,3.000000,0.865724,5.410023e+17
True,1920.776428,6.234975e+08,0.125152,6.244228,0.694808,5.410097e+17