# Simple control structures - loops and conditions

Welcome to the second week of the course. By the end of this week, you should acquire:

Knowledge on:

* Open Communication Science
* Python operators and loops
* Control structures 

Skills on:
* Writing and applying various loops
* Using conditional operators

# Python operators

## Arithmetic

In [3]:
#int
5*5.5

27.5

In [4]:
#str
print("5" / "ggg")

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [5]:
x = 5

In [6]:
print(x)

5

In [33]:
i=1

In [34]:
print(i)

1

In [31]:
i-=7

In [32]:
print(i)

-6

## Comparison

In [35]:
#int
5 > 10

False

In [36]:
#type
len(['words', 'word2']) == 2

True

In [37]:
len({"word": 1, "word2":2})

2

In [45]:
len(["words", "word'2"]) != 5

True

In [39]:
data = "strings"

In [43]:
type(data) == str

True

## Logical and membership

In [ ]:
#int - check membership. 
numbers = [1,2,3]

5 in my_list

In [48]:
words = ["blue", "yellow", "green"]
print("pink" not in words)

True

In [ ]:
#str - check membership

#print
words = ["blue", "yellow", "green"]
print("blue" not in words)

In [52]:
#coditional statement
if "blue" in words:
    print("present")
else:
    print("not present")

present

In [53]:
#string

name = "Anna"

if name == "Anna":
    print("match!")
else:
    print("no match")

match!

In [60]:
a = "5"
b = 7

if type(a) == int:
    print(a+b)
else:
    print(type(a))
    print(int(a)+b)

<class 'str'>
12

In [62]:
if type(a) != int:
    print(int(a)+b)
else:
    a+b

12

In [61]:
#bol

x = True

if x == True:
    print('true')
else:
    print('false')

true

In [65]:
#Check if passing grade

grade = 7.5

passing_grade = 5.5

if grade > passing_grade:
    print("pass")
    counter_passes+=1
else:
    print("fail")

pass

## Assignment operators

In [ ]:
#+=

m = 3

# Loops

In [89]:
#A basic for loop with a list of numbers
my_list = [3,5,6]

for grade in my_list:
    print(f"{grade} years old")

3 years old
5 years old
6 years old

In [75]:
#A basic for loop with a list of strings
names = ["John", "Tyler", "Danny", "Matt"]

for name in names:
    print("name is", name)

name is John
name is Tyler
name is Danny
name is Matt

In [77]:
#Nested for loops
surnames = ['de Young', 'Rogers', 'Roggia']
names = ['Viola', 'Matt', 'Danny', 'Anna']

for surname in surnames:
    print("I am here", surname)
    for name in names:
        print(name, surname)

I am here de Young
Viola de Young
Matt de Young
Danny de Young
Anna de Young
I am here Rogers
Viola Rogers
Matt Rogers
Danny Rogers
Anna Rogers
I am here Roggia
Viola Roggia
Matt Roggia
Danny Roggia
Anna Roggia

In [78]:
#Create a list of emails
#For loops for dictionaries 
emails = {"Freddy":"f.r.hopp@uva.nl", "Joanna":"j.strycharz@uva.nl", "Fabio":"f.a.votta@uva.nl", "Justin": "j.c.ho@uva.nl"}

for key,value in emails.items():
    print("Email of ", key, " is ", value)

Email of  Freddy  is  f.r.hopp@uva.nl
Email of  Joanna  is  j.strycharz@uva.nl
Email of  Fabio  is  f.a.votta@uva.nl
Email of  Justin  is  j.c.ho@uva.nl

In [ ]:
#As is often the case, the key and value are arbitrary names for variables

In [ ]:
#You can also iterate only over the keys or only over the values

In [ ]:
#Loop over string or int?

x = 'blue is a color'

for element in x:
    print(type(element))

In [ ]:
x = 5

for element in x:
    print(element)

# Conditional statements (in loops)

In [80]:
#print number smaller than 5
#operation on every element
my_list = [3,5,6]

newnumbers=[]

for number in my_list:
    if number < 5:
        print(number)
    else:
        print("larger than 5")

3
larger than 5
larger than 5

In [ ]:
print(newnumbers)

In [67]:
#While loop
counter = 0
while counter <= 4:
    print("Inside loop")
    counter += 1
    print(counter)
else:
    print("Inside else")

Inside loop
1
Inside loop
2
Inside loop
3
Inside loop
4
Inside loop
5
Inside else

In [ ]:
#create count how many times visual social media mentioned
socialmedia = ["Tiktok", "Facebook", "Instagram", "Snapchat", "Twitter", "LinkedIn", "Tiktok", "Instagram", "Facebook", "Tiktok"]

countervisuals=0
visualslist = []

In [ ]:
print(visualslist)

In [81]:
#filter to have a dict with only Tiktok users
#Filter to have only "heavy users" (at least 2 social media)
socialusers = {"user1": ["Tiktok", "Instagram"],
                "user2": ["Instagram, Facebook, Twitter"],
                "user3": ["Twitter", "LinkedIn"],
                "user4": ["Tiktok"],
                "user5": ["Tiktok", "LinkedIn"]}

In [87]:
users_to_email = []
Tiktok_users = {}

for key,value in socialusers.items():
    #print(value)
    if  "Tiktok" in value:
        users_to_email.append(key)
        Tiktok_users[key]=value

In [88]:
Tiktok_users

{'user1': ['Tiktok', 'Instagram'],
 'user4': ['Tiktok'],
 'user5': ['Tiktok', 'LinkedIn']}